.foo {
  left: calc(((100% - 16px) / 2) + 16px);
  position: relative;
}

@media screen and (min-width: 560px) {
  .foo {
    left: calc(((100% - 48px) / 3) + 24px);
  }
}

@media screen and (min-width: 768px) {
  .foo {
    left: calc(((100% - 72px) / 4) + 24px);
  }
}
