@if $illusion-body-fallback == true {
  /** Body width fallback for older non CSS calc capable browsers
   *
   * This just sets the width. For an optimal effect it's best to set:
   * - A background color for <html>
   * - A background color for <body>
   * - An optional left and right border for <body>
   *
   * 1. Add :root so CSSmin won't merge the two. This will set the width to 100% for capable browsers
   */

  body {
    width: $illusion-body-fallback-width;

    @if $illusion-body-fallback-align == center {
      margin-left: auto;
      margin-right: auto;
    }

    @if $illusion-body-fallback-align == right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  /* 1 */
  :root body {
    width: calc(100%);
  }
}
