@if $mf-containerwidth == true {
  @if $mf-base-background != false {
    html {
      background: $mf-base-background;
    }
  }

  body {
    max-width: $mf-body-width;

    @if $mf-body-background != false {
      background: $mf-body-background;
    }

    @if $mf-body-border != false and $mf-body-align != right {
      border-right: $mf-body-border;
    }

    @if $mf-body-border != false and $mf-body-align != left {
      border-left: $mf-body-border;
    }

    @if $mf-body-align == center {
      margin-left: auto;
      margin-right: auto;
    }

    @if $mf-body-align == right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  :root body {
    max-width: calc(100%);
    border: none;
    margin: 0 auto;
    background: inherit;
  }
}
