@if ($illusion-form == true and $illusion-custom-select != false) or $illusion-custom-select == true {

  /* Highly based on https://github.com/filamentgroup/select-css */

  // Custom select container
  @include selectors($illusion-custom-select-selector) {
    position: $illusion-custom-select-position;
    display: $illusion-custom-select-display;
    background: $illusion-custom-select-background;

    // Native select invisible except for content
    select {
      @include property("width", $illusion-custom-select-width);
      @include property("margin", $illusion-custom-select-margin);
      @include property("padding", $illusion-custom-select-padding);
      outline: $illusion-custom-select-outline;
      box-sizing: $illusion-custom-select-box-sizing;
      font-size: $illusion-custom-select-font-size;

      &:not([multiple]) {
        @include property("height", $illusion-custom-select-height);
      }

      &[multiple] {
        position: relative;
        z-index: 3;
        @include property("min-height", $illusion-custom-select-multiple-height);
        background: inherit;
      }
    }

    // Custom arrow
    &::after {
      content: $illusion-custom-select-arrow-content;
      position: $illusion-custom-select-arrow-position;
      @include property("top", $illusion-custom-select-arrow-top);
      @include property("right", $illusion-custom-select-arrow-right);
      z-index: $illusion-custom-select-arrow-z-index;
      pointer-events: $illusion-custom-select-arrow-pointer-events;
      @include property("width", $illusion-custom-select-arrow-width);
      @include property("height", $illusion-custom-select-arrow-height);
      @include property("border-left", $illusion-custom-select-arrow-border-horizontal);
      @include property("border-right", $illusion-custom-select-arrow-border-horizontal);
      @include property("border-top", $illusion-custom-select-arrow-border-top);
      @include property("margin-top", $illusion-custom-select-arrow-margin-top);
      display: none;
    }
  }


  // Custom styling when appearance is supported
  /* autoprefixer: ignore next */
  @supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {

    // Display custom arrow
    /* autoprefixer: on */
    @include selectors($illusion-custom-select-selector) {
      &::after {
        display: $illusion-custom-select-arrow-display;
      }

      // Select styling
      select {
        @include property("padding-right", $illusion-custom-select-padding-right);
        background: none;
        appearance: none;
      }
    }
  }

  // IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance.
  // Targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5

  // The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's
  // fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    // Hide native arrow
    @include selectors($illusion-custom-select-selector) {
      select::-ms-expand {
        display: none;
      }

      select:focus::-ms-value {
        background: $illusion-custom-select-ms-focus-background;
        color: $illusion-custom-select-ms-focus-color;
      }

      // Display custom arrow
      &::after {
        display: $illusion-custom-select-arrow-display;
      }

      // Styling select
      select {
        padding-right: $illusion-custom-select-padding-right; // make room for the arrow
        background: none;
      }
    }
  }

  @if ($illusion-custom-select-theme != false) or $illusion-custom-select-theme == true {
    // Theming custom-select
    #{$illusion-custom-select-selector} {
      border: $illusion-custom-select-border;

      select {
        font-family: $illusion-custom-select-font-family;
        font-weight: $illusion-custom-select-font-weight;
        color: $illusion-custom-select-color;
        border: none;
        line-height: $illusion-custom-select-line-height;
        @include property("padding-top", $illusion-custom-select-padding-top);
        @include property("padding-bottom", $illusion-custom-select-padding-bottom);
        @include property("padding-left", $illusion-custom-select-padding-left);

        // Focus style
        &:focus {
          outline: $illusion-custom-select-focus-outline;
          outline-offset: $illusion-custom-select-focus-outline-offset;
        }
      }
    }
  }
}
