@if $illusion-form == true {

  // Form section is used to wrap .form-group
  .form {
    @include spacing(bottom, margin, $lastchildnone: true);

    // Lighter fields for disabled fields
    [disabled] {
      cursor: $illusion-form-disabled-cursor;
      opacity: $illusion-form-disabled-opacity;
    }
  }

  // Form group is used to wrap label and input pairs
  .form__group {
    @include content-block($illusion-form-group-margin);
  }

  .form__label,
  .form__input {
    font-size: inherit;
    line-height: inherit;
  }

  .form__label {
    display: $illusion-form-label-display;
    padding-bottom: $illusion-form-label-padding;
  }

  .form__input {
    width: $illusion-form-input-width;
    padding: $illusion-form-input-padding;
    border: $illusion-form-input-border;
    line-height: $illusion-form-input-line-height;
    min-height: $illusion-form-input-min-height;
    font-family: $illusion-form-input-font-family;
    font-weight: $illusion-form-input-font-weight;

    &:focus {
      outline: $illusion-form-input-focus-outline;
      outline-offset: $illusion-form-input-focus-outline-offset;
    }
  }

  // Allow a qualifying element, remove rounded corners from inputs and textareas
  input.form__input,
  textarea.form__input {
    -webkit-appearance: none;
    border-radius: $illusion-form-input-border-radius;
  }

  // Set a height for select elements
  select {
    height: $illusion-form-select-line-height;
  }

  /* Submit button */
  [type=submit] {
    @include button-structure();

    &:focus {
      outline: $illusion-form-submit-focus-outline;
    }
  }
}
