// Styling
body {
  position: relative;
  color: $color-type;
}

.container {
  @include container;
}

main {
  position: relative;
}

header,
footer {
  color: white;
  @include font-smoothing;
}

header {
  @include spacing(vertical);
  background: linear-gradient(248deg, $color1, $color2, $color3);
  background-size: 200% 200%;
  animation: headerAnimate 20s ease infinite;
}

.header--large {
  @include spacing(vertical, padding, 2);

  h1 {
    font-size: 48px;
    line-height: 56px;
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

@keyframes headerAnimate {
  0% {
    background-position: 0% 0%
  }
  50% {
    background-position: 100% 100%
  }
  100% {
    background-position: 0% 0%
  }
}

nav {
  @include clearfix;
  padding: $spacing-m;
}

.logo {
  display: block;
  float: left;
  width: 166px;
}

.navigation {
  float: right;
  @include reset;
  margin: $spacing-s 0;

  li {
    float: left;
    margin-left: 2em;

    &:first-child {
      margin-left: 0;
    }
  }
}

aside {
  display: block;
  width: 100%;
  @include spacing(vertical);
  @include spacing(horizontal, padding, 1, 0 to $charlie);
  @include span(4, $beta to $delta);
  @include span(3, $delta);

  @include breakpoint($beta) {
    position: sticky;
    top: 0;
  }
}

article {
  display: block;
  width: 100%;
  @include span(8, $beta to $delta);
  @include span(9, $delta);
  @include spacing(vertical);

  h1, h2, h3 {
    color: #333333;
  }

  a {
    color: $color3;
  }
}

footer {
  @include spacing(vertical, padding, 1, 0 to $charlie);
  background: $color3;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

hr {
  border: none;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  @include spacing(vertical, margin, $minus: 2px);
}

pre {
  margin-top: 0;
  @include content-block;
}

table {
  border-collapse: collapse;
  font-size: 15px;
  line-height: 24px;
  @include content-block;
}

th {
  text-align: left;
  padding: $spacing-s $spacing-m $spacing-s 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

td {
  text-align: left;
  padding: $spacing-s $spacing-m $spacing-s 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
  background: #bdc3c7;
  padding: $spacing-m $spacing-l;
  border: none;
  font-size: inherit;
  @include transition;

  @include hover {
    background: #95a5a6;
    color: white;
  }
}

.pull-top {
  margin-top: -($spacing-m);
}

.gallery-3,
.gallery-12 {
  @include clearfix;
  @include spacing(bottom, margin, -1);
}

.gallery__item {
  background: #bdc3c7;
  padding: $spacing-m
}

.gallery-3 {
  .gallery__item {
    @include gallery(4);
  }
}

.gallery-12 {
  .gallery__item {
    @include gallery(4, 0 to $beta);
    @include gallery(3, $beta to $charlie);
    @include gallery(2, $charlie to $delta);
    @include gallery(1, $delta);
  }
}

