// Styling
body {
  position: relative;
  color: $color-type;
}

.container {
  @include container;
}

main {
  position: relative;
}

header, footer {
  color: white;
  @include font-smoothing;
}

header {
  @include spacing(vertical);
  overflow: hidden;

  @include pseudo(before) {
    z-index: -1;
    top: 0;
    left: 0;
    width: 220%;
    height: 220%;
    background: linear-gradient(248deg, $color1, $color2, $color3);
    transform: translate(0, 0);
    animation: headerAnimate 20s ease infinite;
  }

  h1 {
    font-size: 24px;
    line-height: 32px;

    @include breakpoint($beta) {
      font-size: 32px;
      line-height: 48px;
    }
  }
}

@keyframes headerAnimate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

nav {
  @include clearfix;
  padding: $spacing-m 0;
  text-align: center;
}

.logo {
  display: inline-block;
  width: 166px;

  @include breakpoint($beta) {
    display: block;
    float: left;
  }
}

.navigation {
  @include reset;
  margin: $spacing-m 0;
  display: flex;
  justify-content: space-around;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($beta) {
    float: right;
    margin: $spacing-s 0;
  }

  li {
    @include breakpoint($beta) {
      float: left;
      margin-left: $spacing-l;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

aside {
  display: block;
  width: 100%;
  @include spacing(vertical);
  @include span(4, $beta to $delta);
  @include span(3, $delta);
  max-height: 100vh;
  overflow: auto;

  @include breakpoint($beta) {
    position: sticky;
    top: 0;
  }
}

article {
  display: block;
  width: 100%;
  @include span(8, $beta to $delta);
  @include span(9, $delta);
  @include spacing(vertical);

  h1, h2, h3 {
    color: #333333;
  }

  h2 {
    &:not(:first-child) {
      @include spacing(top, margin, 2);
    }
  }

  a {
    color: $color3;
  }
}

footer {
  @include spacing(vertical, padding, 1, 0 to $charlie);
  background: $color3;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

hr {
  border: none;
  height: 2px;
  @include spacing(vertical, margin, 2, $minus: 2px);
  background: rgba(black, 0.1);

  @include pseudo(before) {
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: $color1;
  }
}

pre {
  margin-top: 0;
  @include content-block;
}

.button {
  background: #bdc3c7;
  padding: $spacing-m $spacing-l;
  border: none;
  font-size: inherit;
  @include transition;

  @include hover {
    background: #95a5a6;
    color: white;
  }
}

.pull-top {
  margin-top: -($spacing-m);
}

.gallery-3, .gallery-12 {
  @include clearfix;
  @include spacing(bottom, margin, -1);
}

.gallery__item {
  background: #bdc3c7;
  padding: $spacing-m;
}

.gallery-3 {
  .gallery__item {
    @include gallery(6, 0 to $alpha--plus);
    @include gallery(4, $alpha--plus to $beta);
    @include gallery(3, $beta to $charlie);
    @include gallery(4, $charlie);
  }
}

.gallery-12 {
  .gallery__item {
    @include gallery(6, 0 to $alpha--plus);
    @include gallery(4, $alpha--plus to $beta);
    @include gallery(3, $beta to $charlie);
    @include gallery(1, $charlie);
  }
}

.spaced-vertical {
  @include spacing(vertical);
}

#markdown-toc {
  @include reset;

  li {
    @include pseudo(before) {
      left: 0;
      top: 8px;
      @include triangle(right, 4px, $color3);
      opacity: 0;
      @include transition;
      transform: translateX(-16px);
    }

    &, a {
      @include transition;
    }

    ul {
      @include reset;
      padding-left: 16px;
    }

    li {
      font-size: 15px;
      line-height: 24px;
    }
  }

  li.is-active {
    padding-left: 8px;

    &:before {
      opacity: 1;
      transform: translateX(0);
    }

    & > a {
      text-decoration: none;
      color: $color2;
    }
  }
}
