$illusion-extendalize: true;
$illusion-form: true;
$illusion-body-fallback: true;

$color1: #8cc63f;
$color2: #37b549;
$color3: #089448;

$font-family: 'Source Serif Pro', serif;
$font-size: 17px;

// Import Illusion
@import "normalize";
@import "../../scss/illusion";

// Skip link
@import "skip";
@import "highlight";
@import "table";

@import "shame";

// Grid
@import "grid";
