html {
  background: #eee;
}

body {
  max-width: 500px;
  background: white;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
}

:root body {
  max-width: calc(100%);
  border: none;
  margin: 0 auto;
  background: inherit;
}

.container {
  -webkit-transition: opacity 0.2s cubic-bezier(0.195, 0.4, 0.45, 0.785) 0;
          transition: opacity 0.2s cubic-bezier(0.195, 0.4, 0.45, 0.785) 0;
}
