@if $illusion-extendalize == true and $illusion-extendalize-body == true {
  /**
   * Body
   *
   * Set font values coming from variables
   */

  body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $weight-normal;
  }
}
