@if ($illusion-extendalize == true and $illusion-extendalize-body != false) or $illusion-extendalize-body == true {
  /**
   * Body
   *
   * Set font values coming from variables
   */

  body {
    margin: $illusion-extendalize-body-margin;
    font-family: $illusion-extendalize-body-font-family;
    font-size: $illusion-extendalize-body-font-size;
    line-height: $illusion-extendalize-body-line-height;
    font-weight: $illusion-extendalize-body-font-weight;
    color: $illusion-extendalize-body-color;
  }
}
