@if ($illusion-extendalize == true and $illusion-extendalize-figure != false) or $illusion-extendalize-figure == true {
  /**
   * Figure
   */

  figure {
    @include property("margin-top", $illusion-extendalize-figure-margin-top);
    @include property("margin-right", $illusion-extendalize-figure-margin-right);
    @include property("margin-bottom", $illusion-extendalize-figure-margin-bottom);
    @include property("margin-left", $illusion-extendalize-figure-margin-left);

    // Remove first-child margin
    @if ($illusion-extendalize-last-children-direction == top) {
      &:first-child {
        @include property("margin-top", 0);
      }
    }

    // Remove last-child margin
    @if ($illusion-extendalize-last-children-direction == bottom) {
      &:last-child {
        @include property("margin-bottom", 0);
      }
    }
  }
}
