@if ($illusion-extendalize == true and $illusion-extendalize-figure != false) or $illusion-extendalize-figure == true {
  /**
   * Figure
   */

  figure {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    @include content-block;
  }
}
