@if $extendalize == true {
  h1, h2, h3, h4, h5, h6 {
    font-weight: $weight-bold;
    font-size: inherit;
    margin-top: 0;
    @include content-block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
