@if ($illusion-extendalize == true and $illusion-extendalize-svg != false) or $illusion-extendalize-svg == true {
  /**
   * SVG
   */

  svg {
    @if $illusion-extendalize-svg-width != false {
      &:not([width]) {
        width: 1em;
      }
    }
    @if $illusion-extendalize-svg-height != false {
      &:not([height]) {
        height: 1em;
      }
    }
    @if $illusion-extendalize-svg-color != false {
      fill: currentColor;
    }
  }

  @if $illusion-extendalize-svg-sprite != false {
    .svg-sprite {
      display: $illusion-extendalize-svg-sprite-display;
    }
  }
}
