// Body width fallback
//
// 1. Default is set to false since Illusion doesn't create code by default
// 2. Align body to the left, right or center. Defaults to center
// 3. Width of the body, defaults to $beta breakpoint

$illusion-body-fallback: false !default;
$illusion-body-fallback-align: center !default;
$illusion-body-fallback-width: $beta !default;
