// Button

$illusion-button-appearance:      none !default;
$illusion-button-display:         inline-block !default;
$illusion-button-vertical-align:  middle !default;
$illusion-button-cursor:          pointer !default;
