// Collapse

$illusion-collapse-sides:       both !default;
$illusion-collapse-multiplier:  1 !default;
$illusion-collapse-fromto:      false !default;
$illusion-collapse-gutter:      false !default;
