// Color

$color-type:            #0b0c0c !default;
$color-error:           #e74c3c !default;
$color-success:         #27ae60 !default;
$color-warning:         #e67e22 !default;
$color-focus:           #febd22 !default;
