$mf-containerwidth: true !default;
$mf-base-background: #eee !default;
$mf-body-background: white !default;
$mf-body-border: 1px solid #ddd !default;
$mf-body-align: center !default;
$mf-body-width: 500px !default;