// Extendalize variables
//
// Default extendalize is set to false
//
// 1. To enable all extendalize options set to true

$illusion-extendalize: false !default; // 1
$illusion-extendalize-boxsizing: default !default;
$illusion-extendalize-anchor: default !default;
$illusion-extendalize-address: default !default;
$illusion-extendalize-body: default !default;
$illusion-extendalize-fieldset: default !default;
$illusion-extendalize-figure: default !default;
$illusion-extendalize-heading: default !default;
$illusion-extendalize-image: default !default;
$illusion-extendalize-list: default !default;
$illusion-extendalize-paragraph: default !default;
$illusion-extendalize-picture: default !default;
$illusion-extendalize-svg: default !default;
