// Extendalize variables
//
// Default extendalize is set to false while all children are set to true
//
// 1. To enable all extendalize options just set to true

$illusion-extendalize: false !default; // 1
$illusion-extendalize-boxsizing: false !default;
$illusion-extendalize-anchor: false !default;
$illusion-extendalize-address: false !default;
$illusion-extendalize-body: false !default;
$illusion-extendalize-fieldset: false !default;
$illusion-extendalize-heading: false !default;
$illusion-extendalize-image: false !default;
$illusion-extendalize-list: false !default;
$illusion-extendalize-paragraph: false !default;
$illusion-extendalize-picture: false !default;
$illusion-extendalize-svg: false !default;
