// Gallery

$illusion-gallery-span:           null !default;
$illusion-gallery-fromto:         false !default;
$illusion-gallery-multiplier:     1 !default;
$illusion-gallery-bottom:         true !default;
$illusion-gallery-defaults:       true !default;
$illusion-gallery-gutter:         false !default;
$illusion-gallery-includeWidth:   true !default;
$illusion-gallery-includeMargin:  true !default;