$illusion-grid-container: 12 !default;
$illusion-grid-maxwidth: $echo !default;
$illusion-grid-breakpoints:   (
        default: (
                width: 0,
                gutter: 16px
        ),
        small: (
                width: $beta,
                gutter: 24px
        ),
        medium: (
                width: $charlie,
                gutter: 32px
        ),
        large: (
                width: $echo,
                gutter: 40px
        )
) !default;