// Pseudo

$illusion-pseudo:                 after !default;
$illusion-pseudo-parent-position: relative !default;
$illusion-pseudo-position:        absolute !default;
$illusion-pseudo-content:         " " !default;
$illusion-pseudo-display:         block !default;
