// Reset

$illusion-reset-margin:     0 !default;
$illusion-reset-padding:    0 !default;
$illusion-reset-list-style: none !default;
$illusion-reset-border:     none !default;
$illusion-reset-background: transparent !default;
