// Shift

$illusion-shift:            null !default;
$illusion-shift-fromto:     false !default;
$illusion-shift-multiplier: 1 !default;
$illusion-shift-defaults:   true !default;
$illusion-shift-gutter:     false !default;
