// Span

$illusion-span-span:          null !default;
$illusion-span-fromto:        false !default;
$illusion-span-multiplier:    1 !default;
$illusion-span-bottom:        false !default;
$illusion-span-defaults:      true !default;
$illusion-span-omega:         null !default;
$illusion-span-gutter:        false !default;
$illusion-span-includeWidth:  true !default;
$illusion-span-includeMargin: true !default;
