// SVG background

$illusion-svg-background-color:         black !default;
$illusion-svg-background-width:         24 !default;
$illusion-svg-background-height:        false !default;
$illusion-svg-background-viewboxWidth:  24 !default;
$illusion-svg-background-viewboxHeight: false !default;
$illusion-svg-background-position:      center !default;
$illusion-svg-background-repeat:        no-repeat !default;
$illusion-svg-background-size-unit:     px !default;
