// SVG background

$svg-background-color:          black !default;
$svg-background-width:          24 !default;
$svg-background-height:         false !default;
$svg-background-viewboxWidth:   24 !default;
$svg-background-viewboxHeight:  false !default;
$svg-background-position:       center !default;
$svg-background-repeat:         no-repeat !default;
