// Font-family settings

$font-family:             -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size:               16px !default;
$line-height:             24px !default;
$root-site-font-size-s:   16 !default;
$root-site-font-size:     18 !default;


// Font-weight settings

$weight-light:            300 !default;
$weight-normal:           400 !default;
$weight-bold:             700 !default;


// Fluid type settings

$illusion-fluid-property-min-value:   $font-size !default;
$illusion-fluid-property-max-value:   20px !default;
$illusion-fluid-property-min-screen:  $bravo !default;
$illusion-fluid-property-max-screen:  $delta !default;
$illusion-fluid-property-clamp:       false !default;
