// Visually hidden

$illusion-visually-shown-position:            absolute !default;
$illusion-visually-shown-overflow:            hidden !default;
$illusion-visually-shown-backface-visibility: hidden !default;
$illusion-visually-shown-clip:                rect(0 0 0 0) !default;
$illusion-visually-shown-height:              1px !default;
$illusion-visually-shown-width:               1px !default;
$illusion-visually-shown-margin:              -1px !default;
$illusion-visually-shown-padding:             0 !default;
$illusion-visually-shown-border:              none !default;
