{% include header.html %}

<main>
    <div class="container">
        <aside>
            <h2>Menu</h2>
            <ul>
                <li><a href="#n1">What is Illusion</a></li>
                <li><a href="#n1">Getting started</a></li>
                <li><a href="#n1">Grid</a></li>
                <li><a href="#n1">Functions</a></li>
                <li><a href="#n1">Mixins</a></li>
                <li><a href="#n1">Elements</a></li>
            </ul>
        </aside>
        <article>
            {{ content }}
        </article>
    </div>
</main>

{% include footer.html %}
