{% include header.html header="large" %}

<main>
    <div class="container">
        <aside>
            <h2>Menu</h2>
            <ul>
                <li><a href="#illusion">What is Illusion</a></li>
                <li><a href="#opinionated">Opinionated</a></li>
                <li><a href="#grid">8 point grid</a></li>
                <li><a href="#base-styling">Base styling</a></li>
                <li><a href="#mixins">Mixins</a></li>
            </ul>
        </aside>
        <article>
            {{ content }}
        </article>
    </div>
</main>

{% include footer.html %}
