// Container

@mixin container($flexbox: false, $alignment: center) {

  // Set default styling
  max-width: $illusion-grid-maxwidth + (largestGutter() * 2);

  // Alignment
  @if $alignment == center or $alignment == right {
    margin-left: auto;
  }
  @if $alignment == center or $alignment == left {
    margin-right: auto;
  }

  // Flexbox
  @if $flexbox == false {
    @include clearfix;
  }
  @if $flexbox != false {
    @include modernizr(flexbox, flexwrap) {
      display: flex;
      flex-wrap: wrap;

      // Hide pseudo elements
      // They are in the way for wrapping flex items on certain browsers
      @include clearfix(reset);
    }
  }

  // Run through each breakpoint
  @each $breakpoint, $values in $illusion-grid-breakpoints {
    @include ifBreakpoint(map-get($values, width)) {
      padding-left: map-get($values, gutter);
      padding-right: map-get($values, gutter);
    }
  }
}
