// Accessibility

@mixin visually-hidden($position: absolute, $overflow: hidden, $backface-visibility: hidden, $clip: rect(0 0 0 0), $height: 1px, $width: 1px, $margin: -1px, $padding: 0, $border: 0) {
  position: $position;
  overflow: $overflow;
  backface-visibility: $backface-visibility;
  clip: $clip;
  height: $height;
  width: $width;
  margin: $margin;
  padding: $padding;
  border: $border;
}

@mixin visually-shown($position: static, $overflow: visible, $backface-visibility: visible, $clip: auto, $height: auto, $width: auto, $margin: 0, $padding: 0, $border: 0) {
  position: $position;
  overflow: $overflow;
  backface-visibility: $backface-visibility;
  clip: $clip;
  height: $height;
  width: $width;
  margin: $margin;
  padding: $padding;
  border: $border;
}