// Button
//
// Can be used inside your own @mixin button(); and other elements that should behave like a button
//
// 1. Reset appearance for submit buttons
// 2. Allows us to style paddings and margins
// 3. Line buttons vertically
// 4. Appear clickable

@mixin button-structure($appearance: none, $display: inline-block, $vertical-align: middle, $cursor: pointer) {
  @if $appearance != false {
    -webkit-appearance: $appearance; // 1
  }
  @if $display != false {
    display: $display; // 2
  }
  @if $vertical-align != false {
    vertical-align: $vertical-align; // 3
  }
  @if $cursor != false {
    cursor: $cursor; // 4
  }
}
