// Clearfix
// Also clearing top-margin
// Still using single colon for better browser compatibility

@mixin clearfix($reset: $illusion-clearfix-reset) {
  @if $reset == false {
    &:before,
    &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }

  @if $reset != false {
    &:before, &:after {
      display: none;
    }
  }
}
