// Cluster

@mixin cluster($margin: $illusion-cluster-margin, $justify-content: flex-start) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: $justify-content;
  margin-bottom: calc(#{$margin} * -1);
  margin-left: calc(#{$margin} * -1);

  > * {
    margin-bottom: $margin;
    margin-left: $margin;
  }
}
