// Container

@mixin container($type: $illusion-grid-container-type, $align: $illusion-grid-container-align) {

  // Set default styling
  @include property("max-width", $illusion-grid-maxwidth + (largestGutter() * 2));

  // Alignment
  @if $align == center or $align == right {
    @include property("margin-left", auto);
  }
  @if $align == center or $align == left {
    @include property("margin-right", auto);
  }

  // Flexbox
  @if $type != flex {
    @include clearfix;
  }
  @if $type == flex {
    display: flex;
    flex-wrap: wrap;
  }

  // Run through each breakpoint
  @each $breakpoint, $values in $illusion-grid-breakpoints {
    @include ifBreakpoint(map-get($values, width)) {
      @include property("padding-left", map-get($values, gutter));
      @include property("padding-right", map-get($values, gutter));
    }
  }
}
