// Container

@mixin container($type: $illusion-grid-container-type, $align: center) {

  // Set default styling
  max-width: $illusion-grid-maxwidth + (largestGutter() * 2);

  // Alignment
  @if $align == center or $align == right {
    margin-left: auto;
  }
  @if $align == center or $align == left {
    margin-right: auto;
  }

  // Flexbox
  @if $type != flex {
    @include clearfix;
  }
  @if $type == flex {
    display: flex;
    flex-wrap: wrap;
  }

  // Run through each breakpoint
  @each $breakpoint, $values in $illusion-grid-breakpoints {
    @include ifBreakpoint(map-get($values, width)) {
      padding-left: map-get($values, gutter);
      padding-right: map-get($values, gutter);
    }
  }
}
