// Cover the entire parent element

@mixin coverall($offset: $illusion-coverall-offset, $top: $illusion-coverall-top, $right: $illusion-coverall-right, $bottom: $illusion-coverall-bottom, $left: $illusion-coverall-left, $position: $illusion-coverall-position, $reset: $illusion-coverall-reset) {
  @if $position != false {
    position: $position;
  }
  @if $top == true {
    @include property("top", $offset);
  } @else if $top != false {
    @include property("top", $top);
  }
  @if $right == true {
    @include property("right", $offset);
  } @else if $right != false {
    @include property("right", $right);
  }
  @if $bottom == true {
    @include property("bottom", $offset);
  } @else if $bottom != false {
    @include property("bottom", $bottom);
  }
  @if $left == true {
    @include property("left", $offset);
  } @else if $left != false {
    @include property("left", $left);
  }
  @if $reset == true {
    position: $illusion-coverall-reset-position;
    @include property("top", $illusion-coverall-reset-top);
    @include property("right", $illusion-coverall-reset-right);
    @include property("bottom", $illusion-coverall-reset-bottom);
    @include property("left", $illusion-coverall-reset-left);
  }
}
