// Cover the entire parent element

@mixin coverall($offset: 0, $top: true, $right: true, $bottom: true, $left: true, $position: absolute, $reset: false) {
  @if $position != false {
    position: $position;
  }
  @if $top == true {
    top: $offset;
  } @else if $top != false {
    top: $top;
  }
  @if $right == true {
    right: $offset;
  } @else if $right != false {
    right: $right;
  }
  @if $bottom == true {
    bottom: $offset;
  } @else if $bottom != false {
    bottom: $bottom;
  }
  @if $left == true {
    left: $offset;
  } @else if $left != false {
    left: $left;
  }
  @if $reset == true {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
