// Gallery mixin

@mixin gallery($span: null, $fromto: false, $multiplier: 1, $bottom: true, $defaults: true) {

  // Span values
  $spanColumns: nth($span, 1);
  $spanContainer: getcontainer($span);
  $spanAmount: $spanContainer / $spanColumns;

  // Span columns
  @include span($span, $fromto, $multiplier, $bottom, $defaults, $spanAmount);
}
