// Property

@mixin property($property, $value) {
  // Change properties to logical properties
  @if $illusion-logical-properties {
    @each $prop, $val in $illusion-logical-properties-map {
      @if ($prop == $property) {
        @if $prop == 'float' or $prop == 'clear' {
          @if $val == 'right' {
            $value: inline-end
          }
          @if $val == 'left' {
            $value: inline-start
          }
        }
        @if $prop == 'text-align' {
          @if $value == 'right' {
            $value: end
          }
          @if $value == 'left' {
            $value: start
          }
        }
        $property: $val;
      }
    }
    @if ($value != false) {
      @if ($property == 'margin' or $property == 'padding') and length($value) != 1 {
        @if length($value) == 4 {
          #{$property}-block-start: nth($value, 1);
          #{$property}-inline-end: nth($value, 2);
          #{$property}-block-end: nth($value, 3);
          #{$property}-inline-start: nth($value, 4);
        }
        @if length($value) == 3 {
          #{$property}-block-start: nth($value, 1);
          #{$property}-inline: nth($value, 2);
          #{$property}-block-end: nth($value, 3);
        }
        @if length($value) == 2 {
          #{$property}-block: nth($value, 1);
          #{$property}-inline: nth($value, 2);
        }
      } @else {
        #{$property}: $value;
      }
    }
  } @else if ($value != false) {
    #{$property}: $value;
  }
}
