// Pseudo elements

@mixin pseudo($pseudo: after, $parent-position: relative, $position: absolute, $content: " ", $display: block) {
  @if $parent-position != false {
    position: $parent-position;
  }

  &:#{$pseudo} {
    @if $position != false {
      position: $position;
    }
    @if $content != false {
      content: $content;
    }
    @if $display != false {
      display: $display;
    }
    @content;
  }
}
