// Aspect ratio blocks
// Probably needs a coverall @mixin as a child

@mixin ratio-block($ratio: 16 to 9) {

  // Variables
  $width: nth($ratio, 1);
  $height: nth($ratio, 3);
  $percent: ($height / $width) * 100%;

  &:before {
    display: block;
    content: " ";
    padding-top: $percent;
  }
}
