// Reset elements

@mixin reset($margin: 0, $padding: 0, $list-style: none, $border: none, $background: transparent) {
  @if $margin != false {
    margin: $margin;
  }
  @if $padding != false {
    padding: $padding;
  }
  @if $list-style != false {
    list-style: $list-style;
  }
  @if $border != false {
    border: $border;
  }
  @if $background != false {
    background: $background;
  }
}
