// Visually hidden

@mixin visually-hidden($position: $illusion-visually-hidden-position, $overflow: $illusion-visually-hidden-overflow, $backface-visibility: $illusion-visually-hidden-backface-visibility, $clip: $illusion-visually-hidden-clip, $height: $illusion-visually-hidden-height, $width: $illusion-visually-hidden-width, $margin: $illusion-visually-hidden-margin, $padding: $illusion-visually-hidden-padding, $border: $illusion-visually-hidden-border) {
  @if $position != false {
    position: $position;
  }
  @if $overflow != false {
    overflow: $overflow;
  }
  @if $backface-visibility != false {
    backface-visibility: $backface-visibility;
  }
  @if $clip != false {
    clip: $clip;
  }
  @if $height != false {
    height: $height;
  }
  @if $width != false {
    width: $width;
  }
  @if $margin != false {
    margin: $margin;
  }
  @if $padding != false {
    padding: $padding;
  }
  @if $border != false {
    border: $border;
  }
}
