// Visually shown

@mixin visually-shown($position: static, $overflow: visible, $backface-visibility: visible, $clip: auto, $height: auto, $width: auto, $margin: 0, $padding: 0, $border: none) {
  @if $position != false {
    position: $position;
  }
  @if $overflow != false {
    overflow: $overflow;
  }
  @if $backface-visibility != false {
    backface-visibility: $backface-visibility;
  }
  @if $clip != false {
    clip: $clip;
  }
  @if $height != false {
    height: $height;
  }
  @if $width != false {
    width: $width;
  }
  @if $margin != false {
    margin: $margin;
  }
  @if $padding != false {
    padding: $padding;
  }
  @if $border != false {
    border: $border;
  }
}