// Visually shown

@mixin visually-shown($position: $illusion-visually-shown-position, $overflow: $illusion-visually-shown-overflow, $backface-visibility: $illusion-visually-shown-backface-visibility, $clip: $illusion-visually-shown-clip, $height: $illusion-visually-shown-height, $width: $illusion-visually-shown-width, $margin: $illusion-visually-shown-margin, $padding: $illusion-visually-shown-padding, $border: $illusion-visually-shown-border) {
  @if $position != false {
    position: $position;
  }
  @if $overflow != false {
    overflow: $overflow;
  }
  @if $backface-visibility != false {
    backface-visibility: $backface-visibility;
  }
  @if $clip != false {
    clip: $clip;
  }
  @if $height != false {
    height: $height;
  }
  @if $width != false {
    width: $width;
  }
  @if $margin != false {
    margin: $margin;
  }
  @if $padding != false {
    padding: $padding;
  }
  @if $border != false {
    border: $border;
  }
}
